<!doctype html>
<html class="fixed sidebar-left-collapsed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Menu Collapsed Layout | Okler Themes | Porto-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/bootstrap/css/bootstrap.css")}}'/>
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/font-awesome/css/font-awesome.css")}}'/>
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/magnific-popup/magnific-popup.css")}}'/>
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/bootstrap-datepicker/css/datepicker3.css")}}'/>


    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/select2/select2.css")}}'/>
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/jquery-datatables-bs3/assets/css/datatables.css")}}'/>
    <link rel="stylesheet" href='{{asset("Tamplate/vendor/pnotify/pnotify.custom.css")}}'/>
    <!-- ThemeCSS -->
    <link rel="stylesheet" href='{{asset("Tamplate/stylesheets/theme.css")}}'/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href='{{asset("Tamplate/stylesheets/skins/default.css")}}'/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href='{{asset("Tamplate/stylesheets/theme-custom.css")}}'/>

    <!-- Head Libs -->
    <script src={{ asset("Tamplate/vendor/modernizr/modernizr.js") }}></script>


</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">

            <a href="../" class="logo">
                <img src={{ asset("Tamplate/images/carte-carburant.jpg") }} height="100" alt="Porto Admin"
                     style="margin-left: -15px;margin-top: -25px;"/>
            </a>


            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                 data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <div ><h2><B>Protail</B> <em>Gestion Cartes Pétrolières</em></h2></div>

        <!-- start: search & user box -->
        <div class="header-right" style="margin-top: -65px;">

            <form action="pages-search-results.html" class="search nav-form">
                <div class="input-group input-search">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                    <span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
                </div>
            </form>

            <span class="separator"></span>

            <ul class="notifications">
                <li>
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">3</span>
                    </a>

                    <div class="dropdown-menu notification-menu large">
                        <div class="notification-title">
                            <span class="pull-right label label-default">3</span>
                            Tasks
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Generating Sales Report</span>
                                        <span class="message pull-right text-dark">60%</span>
                                    </p>
                                    <div class="progress progress-xs light">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                </li>

                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Importing Contacts</span>
                                        <span class="message pull-right text-dark">98%</span>
                                    </p>
                                    <div class="progress progress-xs light">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                    </div>
                                </li>

                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Uploading something big</span>
                                        <span class="message pull-right text-dark">33%</span>
                                    </p>
                                    <div class="progress progress-xs light mb-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="33"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">4</span>
                    </a>

                    <div class="dropdown-menu notification-menu">
                        <div class="notification-title">
                            <span class="pull-right label label-default">230</span>
                            Messages
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Doe_unior"
                                                 class="img-circle"/>
                                        </figure>
                                        <span class="title">Joseph Doe</span>
                                        <span class="message">Lorem ipsum dolor sit.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Junior"
                                                 class="img-circle"/>
                                        </figure>
                                        <span class="title">Joseph Junior</span>
                                        <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joe_Junior"
                                                 class="img-circle"/>
                                        </figure>
                                        <span class="title">Joe Junior</span>
                                        <span class="message">Lorem ipsum dolor sit.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Junior"
                                                 class="img-circle"/>
                                        </figure>
                                        <span class="title">Joseph Junior</span>
                                        <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                    </a>
                                </li>
                            </ul>

                            <hr/>

                            <div class="text-right">
                                <a href="#" class="view-more">View All</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="badge">3</span>
                    </a>

                    <div class="dropdown-menu notification-menu">
                        <div class="notification-title">
                            <span class="pull-right label label-default">3</span>
                            Alerts
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-thumbs-down bg-danger"></i>
                                        </div>
                                        <span class="title">Server is Down!</span>
                                        <span class="message">Just now</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-lock bg-warning"></i>
                                        </div>
                                        <span class="title">User Locked</span>
                                        <span class="message">15 minutes ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-signal bg-success"></i>
                                        </div>
                                        <span class="title">Connection Restaured</span>
                                        <span class="message">10/10/2014</span>
                                    </a>
                                </li>
                            </ul>

                            <hr/>

                            <div class="text-right">
                                <a href="#" class="view-more">View All</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <span class="separator"></span>
            {{ block("userbox","::userbox.html.twig") }}
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->

       {{ block("sidebar","::menu.html.twig") }}
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2 style="margin-left: 40px;"> Gestion Utilisateurs</h2>

                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>Layouts</span></li>
                        <li><span>Menu Collapsed</span></li>
                    </ol>

                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                </div>
            </header>

            <!-- start: page -->
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Liste Utilisateurs</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 13px;">
                            <div class="col-md-2">
                                <a href="#modalFormaddC" class="modal-with-form on-default edit-row">
                                    <button type="submit" id="addToTable" class="btn btn-primary">Ajouter Client <i
                                                class="fa fa-plus"></i></button>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#modalFormaddG" class="modal-with-form on-default edit-row">
                                    <button type="submit" id="addToTable" class="btn btn-primary">Ajouter Gerant <i
                                                class="fa fa-plus"></i></button>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#modalFormaddP" class="modal-with-form on-default edit-row">
                                    <button type="submit" id="addToTable" class="btn btn-primary">Ajouter Porteur <i
                                                class="fa fa-plus"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date Naissance</th>
                            <th>No°Tel</th>
                            <th>E-mail</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                        <tr class="gradeX">
                            <td>
                                <a href="{{ path('utilisateur_show', { 'id': utilisateur.idUtilisateur }) }}">{{ utilisateur.login }}</a>
                            </td>
                            <td>{{ utilisateur.nom }}</td>
                            <td>{{ utilisateur.prenom }}</td>
                            <td>{% if utilisateur.DateNaissance %}{{ utilisateur.DateNaissance|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ utilisateur.tel }}</td>
                            <td>{{ utilisateur.email }}</td>
                            <td class="actions">

                                <a href="#modalForm" class="modal-with-form on-default edit-row"><i id="modif"
                                                                                                    class="fa fa-pencil"
                                                                                                    onclick="update('{{ utilisateur.login }}','{{ utilisateur.motPasse }}','{{ utilisateur.nom }}','{{ utilisateur.prenom }}','{{ utilisateur.tel }}','{{ utilisateur.email }}','{{ utilisateur.DateNaissance|date('d/m/Y') }}','{{ utilisateur.idUtilisateur }}')"></i></a>
                                <a href="{{ path('utilisateur_delete', { 'id': utilisateur.idUtilisateur }) }}"
                                   class=" on-default remove-row"><i class="fa fa-trash-o"></i></a>

                            </td>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Modal Form -->
            <div id="modalForm" class="modal-block modal-block-primary mfp-hide dhie">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-pencil"></i> Modifer Utilisateur</h2>
                    </header>
                    <div class="panel-body">
                        <form name="xxx" id="xxx" class="form-horizontal mb-lg" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Login</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tlogin" name="Tlogin"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Mot de passe</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tpass" name="Tpass"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Nom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tnom" name="Tnom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Prénom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tprenom" name="Tprenom">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>No°Tel</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Ttel" name="Ttel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>E-mail</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded"
                                           placeholder="example@example.domaine" id="Tmail" name="Tmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><B>Date naissance</B></label>
                                <div class="col-md-5">
                                    <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                                        <input type="text" id="date_naissance" name="date_naissance"
                                               data-plugin-datepicker class="form-control input-rounded">
                                    </div>
                                </div>
                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button onclick="form_submit()" class="btn btn-primary modal-confirm">Modifier
                                        </button>
                                        <button class="btn btn-default modal-dismiss">Annuler</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </section>
            </div>


            <!-- Modal Formadd -->
            <div id="modalFormaddG" class="modal-block modal-block-primary mfp-hide dhie">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-plus"></i> Ajouter Gerant</h2>
                    </header>
                    <div class="panel-body">
                        <form name="xxxG" id="xxxG" class="form-horizontal mb-lg" action="{{ path('utilisateur_newG') }}"
                              method="POST">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Login</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tloginaddg"
                                           name="Tloginadd" enabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>id Gerant</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tid_gerantg" name="Tid_gerant">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Mot de passe</B></label>
                                <div class="col-md-5">
                                    <input  class="form-control input-rounded" id="Tpassaddg" name="Tpassadd"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Nom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tnomaddg" name="Tnomadd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Prénom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tprenomaddg"
                                           name="Tprenomadd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>No°Tel</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tteladdg" name="Tteladd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>E-mail</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded"
                                           placeholder="example@example.domaine" id="Tmailaddg" name="Tmailadd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><B>Date naissance</B></label>
                                <div class="col-md-5">
                                    <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                                        <input type="text" id="date_naissanceaddg" name="date_naissanceadd"
                                               data-plugin-datepicker class="form-control input-rounded">
                                    </div>
                                </div>
                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button  type="button" id="btG" class="btn btn-primary">Ajouter
                                        </button>
                                        <button class="btn btn-default modal-dismiss">Annuler</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </section>
            </div>
            <div id="modalFormaddC" class="modal-block modal-block-primary mfp-hide dhie">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-plus"></i> Ajouter Client</h2>
                    </header>
                    <div class="panel-body">
                        <form name="xxxC" id="xxxC" class="form-horizontal mb-lg" action="{{ path('utilisateur_newC') }}"
                              method="POST">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Login</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tloginaddc"
                                           name="Tloginadd" enabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>id Client</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tid_clientc" name="Tid_client">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Mot de passe</B></label>
                                <div class="col-md-5">
                                    <input class="form-control input-rounded" id="Tpassaddc" name="Tpassadd"
                                           type="password">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>No°Tel</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tteladdc" name="Tteladd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>E-mail</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded"
                                           placeholder="example@example.domaine" id="Tmailaddc" name="Tmailadd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><B>Date fondation</B></label>
                                <div class="col-md-5">
                                    <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                                        <input type="text" id="date_naissanceaddc" name="date_naissanceadd"
                                               data-plugin-datepicker class="form-control input-rounded">
                                    </div>
                                </div>
                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="button" id="btC" class="btn btn-primary ">Ajouter
                                        </button>
                                        <button class="btn btn-default modal-dismiss">Annuler</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </section>
            </div>
            <div id="modalFormaddP" class="modal-block modal-block-primary mfp-hide dhie">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-plus"></i> Ajouter Porteur</h2>
                    </header>
                    <div class="panel-body">
                        <form name="xxxP" id="xxxP" class="form-horizontal mb-lg" action="{{ path('utilisateur_newP') }}"
                              method="POST">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Login</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tloginaddp"
                                           name="Tloginadd" enabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Numero carte</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tnum_cartep" name="Tnum_carte">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>id Client</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tid_cltp" name="Tid_clt">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Mot de passe</B></label>
                                <div class="col-md-5">
                                    <input  class="form-control input-rounded" id="Tpassaddp" name="Tpassadd"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Nom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tnomaddp" name="Tnomadd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>Prénom</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded" id="Tprenomaddp"
                                           name="Tprenomadd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>No°Tel</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded positive-integer" id="Tteladdp" name="Tteladd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputRounded"><B>E-mail</B></label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control input-rounded"
                                           placeholder="example@example.domaine" id="Tmailaddp" name="Tmailadd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><B>Date naissance</B></label>
                                <div class="col-md-5">
                                    <div class="input-group">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                                        <input type="text" id="date_naissanceaddp" name="date_naissanceadd"
                                               data-plugin-datepicker class="form-control input-rounded">
                                    </div>
                                </div>
                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button  type="button" id="btP" class="btn btn-primary">Ajouter</button>
                                        <button class="btn btn-default modal-dismiss">Annuler</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </section>
            </div>


            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark"></div>

                        <ul>
                            <li>
                                <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Doe"
                                         class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Doe"
                                         class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Doe"
                                         class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src={{ asset("Tamplate/images/!sample-user.jpg") }} alt="Joseph_Doe"
                                         class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

<div id="dialog" class="modal-block mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<script>
    function update(login, pass, nom, prenom, tel, mail, naiss, id) {

        document.getElementById("Tlogin").value = login;
        document.getElementById("Tpass").value = pass;
        document.getElementById("Tnom").value = nom;
        document.getElementById("Tprenom").value = prenom;
        document.getElementById("Ttel").value = tel;
        document.getElementById("Tmail").value = mail;
        document.getElementById("date_naissance").value = naiss;
        document.getElementById("xxx").setAttribute("action", "/CartePetroliere/web/app_dev.php/utilisateur/" + id + "/edit");

    }

</script>
<!-- Vendor -->
<script src={{ asset("Tamplate/vendor/jquery/jquery.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-browser-mobile/jquery.browser.mobile.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap/js/bootstrap.js") }}></script>
<script src={{ asset("Tamplate/vendor/nanoscroller/nanoscroller.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js") }}></script>
<script src={{ asset("Tamplate/vendor/magnific-popup/magnific-popup.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-placeholder/jquery.placeholder.js") }}></script>


<script>


    $.fn.datepicker.defaults.format = "dd/mm/yyyy";


    /* $('#date_naissance').datepicker(options).on(
     'show', function() {
     var modal = $('#date_naissance').closest('.modal');
     var datePicker = $('body').find('.datepicker');
     if(!modal.length) {
     $(datePicker).css('z-index', 'auto');
     return;
     }
     var zIndexModal = $(modal).css('z-index');
     $(datePicker).css('z-index', zIndexModal + 1);
     });*/
    /* $('.datepicker').datepicker({
     beforeShow: function() {
     $(this).css("z-index","1050");
     }
     });*
     });*

     $(document).ready(function(){
     $("#date_naissance").datepicker().focus();
     });
     */


</script>
<!-- Specific Page Vendor -->
<script src={{ asset("Tamplate/vendor/select2/select2.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-datatables/media/js/jquery.dataTables.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-datatables-bs3/assets/js/datatables.js") }}></script>
<script src={{ asset("Tamplate/vendor/pnotify/pnotify.custom.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js") }}></script>
<script src={{ asset("Tamplate/vendor/select2/select2.js") }}></script>
<script src={{ asset("Tamplate/vendor/magnific-popup/magnific-popup.js") }}></script>

<script src={{ asset("Tamplate/javascripts/ui-elements/examples.modals.js") }}></script>

<script src={{ asset("Tamplate/vendor/jquery-maskedinput/jquery.maskedinput.js") }}></script>

<script src={{ asset("Tamplate/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js") }}></script>
<script src={{ asset("Tamplate/vendor/fuelux/js/spinner.js") }}></script>
<script src={{ asset("Tamplate/vendor/dropzone/dropzone.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap-markdown/js/markdown.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap-markdown/js/to-markdown.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap-markdown/js/bootstrap-markdown.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/lib/codemirror.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/addon/selection/active-line.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/addon/edit/matchbrackets.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/mode/javascript/javascript.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/mode/xml/xml.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/mode/htmlmixed/htmlmixed.js") }}></script>
<script src={{ asset("Tamplate/vendor/codemirror/mode/css/css.js") }}></script>
<script src={{ asset("Tamplate/vendor/summernote/summernote.js") }}></script>
<script src={{ asset("Tamplate/vendor/bootstrap-maxlength/bootstrap-maxlength.js") }}></script>
<script src={{ asset("Tamplate/vendor/ios7-switch/ios7-switch.js") }}></script>


<!-- Theme Base, Components and Settings -->
<script src={{ asset("Tamplate/javascripts/theme.js") }}></script>

<!-- Theme Custom -->
<script src={{ asset("Tamplate/javascripts/theme.custom.js") }}></script>


<!-- Theme Initialization Files -->
<script src={{ asset("Tamplate/javascripts/theme.init.js") }}></script>
<!-- Examples -->
<script src={{ asset("Tamplate/javascripts/tables/examples.datatables.default.js") }}></script>
<script src={{ asset("Tamplate/javascripts/ui-elements/examples.modals.js") }}></script>
<script src={{ asset("Tamplate/vendor/jquery-validation/jquery.validate.js") }}></script>
<script src={{ asset("Tamplate/javascripts/jquery.numeric.js") }}></script>
<script src={{ asset("Tamplate/javascripts/forms/examples.advanced.form.js") }}></script>
<script>

    $(document).ready(function () {


        $(".positive-integer").numeric({decimal: false, negative: false}, function () {
            alet("Positive integers only");
            this.value = "";
            this.focus();
        });
        $("#btG").click(function() {
            var expr =/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/ ;
            var charc=/^[a-zA-Z]*$/;
            if($("#Tloginaddg").val()=="")
            {
                alert("Login est obligatoire");
            }
            else if($("#Tpassaddg").val()=="")
            {
                alert("mot de passe est obligatoire");
            }
            else if($("#Tnomaddg").val()=="")
            {
                alert("nom est obligatoire");
            }
            else if(charc.test($("#Tnomaddg").val()))
            {
                alert("champ nom  éronée");
            }
            else if($("#Tprenomaddg").val()=="")
            {
                alert("prenom est obligatoire");
            }
            else if(charc.test($("#Tprenomaddg").val()))
            {
                alert("champ prenom  éroné");
            }
            else if($("#Tteladdg").val()=="")
            {
                alert("N°Tel est obligatoire");
            }
            else if($("#Tteladdg").val().length!=8)
            {
                alert(" champ N°Tel éroné");
            }
            else if($("#Tmailaddg").val()=="")
            {
                alert("e-mail est obligatoire");
            }
            else if($("#date_naissanceaddg").val()=="")
            {
                alert("date de naissance est obligatoire");
            }
            else if(!expr.test($("#Tmailaddg").val()))
            {
                alert("champ mail éronée");
            }

            else
            {document.getElementById("xxxG").submit();}
        });

        $("#btP").click(function() {

            var expr =/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/ ;
            var charc=/^[a-zA-Z]*$/;
            if($("#Tloginaddp").val()=="")
            {
                alert("Login est obligatoire");
            }
            else if($("#Tnum_cartep").val()=="")
            {
                alert("Login est obligatoire");
            }
            else if($("#Tid_cltp").val()=="")
            {
                alert("id client est obligatoire");
            }
            else if($("#Tpassaddp").val()=="")
            {
                alert("mot de passe est obligatoire");
            }
            else if($("#Tnomaddp").val()=="")
            {
                alert("nom est obligatoire");
            }
            else if(charc.test($("#Tnomaddp").val()))
            {
                alert("champ nom  éronée");
            }
            else if($("#Tprenomaddp").val()=="")
            {
                alert("prenom est obligatoire");
            }
            else if(charc.test($("#Tprenomaddp").val()))
            {
                alert("champ prenom  éroné");
            }
            else if($("#Tteladdp").val()=="")
            {
                alert("N°Tel est obligatoire");
            }
            else if($("#Tteladdp").val().length!=8)
            {
                alert(" champ N°Tel éroné");
            }
            else if($("#Tmailaddp").val()=="")
            {
                alert("e-mail est obligatoire");
            }
            else if($("#date_naissanceaddp").val()=="")
            {
                alert("date de naissance est obligatoire");
            }
            else if($("#Tnum_cartep").val().length!=12)
            {
                alert("champ numero carte éronée");
            }
            else if(!expr.test($("#Tmailaddp").val()))
            {
                alert("champ mail éronée");
            }

            else
            {document.getElementById("xxxP").submit();}
        });
        $("#btC").click(function() {
            var expr =/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/ ;

            if($("#Tloginaddc").val()=="")
            {
                alert("Login est obligatoire");
            }
            else if($("#Tid_clientc").val()=="")
            {
                alert("id client est obligatoire");
            }
            else if($("#Tpassaddc").val()=="")
            {
                alert("mot de passe est obligatoire");
            }
            else if($("#Tteladdc").val()=="")
            {
                alert("N°Tel est obligatoire");
            }
            else if($("#Tteladdc").val().length!=8)
            {
                alert(" champ N°Tel éroné");
            }
            else if($("#Tmailaddc").val()=="")
            {
                alert("e-mail est obligatoire");
            }
            else if($("#date_naissanceaddc").val()=="")
            {
                alert("date de naissance est obligatoire");
            }
            else if(!expr.test($("#Tmailaddp").val()))
            {
                alert("champ mail éroné");
            }
            else
            {document.getElementById("xxxC").submit();}
        });
    });
</script>

</body>
</html>